/* Link to colour site */

@font-face {
  font-family: "Bebas Neue";
  src: url('https://fonts.google.com/specimen/Bebas+Neue?query=Bebas+Neue') format("woff2");
}
@font-face {
  font-family: "fira sans";
  src: url('https://fonts.google.com/specimen/Fira+Sans?query=fira+sans') format("woff2");
}

body {
	background-color: #f8f9fa;
}
  
header img{
	width: 150px;
	height:auto;
	border:#6C757D solid 3px;
	padding: 2px;
	box-shadow: 0 0 10px #6C757D;
	margin-block-start: 994px;
	margin-block-end: 2px;
	margin-inline-start: 170px;
	margin-inline-end: 0px;
}
nav{
	background-color: #6C757D;
	padding: 10px;
	width: 910px;
	height: auto;
	margin-block-start: 5px;
	margin-block-end: 7px;
	margin-inline-start: 170px;
	margin-inline-end: 0px;
}
nav a{
	color: #DEE2E6;
	padding: 30px;
}
.hero img{
	  display: block;
	  width: 920px;
	  height: auto;
	  position: relative;
	  margin-block-start: 3px;
	  margin-block-end: 7px;
	  margin-inline-start: 70px;
	  margin-inline-end: -150px;
}
main {
	max-width: 950px;
}
h1{
	  color: #DEE2E6;
	  position: absolute;
	  display: block;
	  margin-block-start: 15px;
	  margin-block-end: 5px;
	  margin-inline-start: 220px;
	  margin-inline-end: 0px;
}
article{
	background-color: #DEE2E6;
	position: absolute;
	height: 90px;
	width: 950px;
	margin-block-start: 100px;
	margin-block-end: 9px;
	margin-inline-start: 520px;
	margin-inline-end: 0px;
}
article img{
	background-color: #DEE2E6;
	position: absolute;
	width: 160px;
	height: auto;
	margin-block-start: 15px;
	margin-block-end: 5px;
	margin-inline-start: 20px;
	margin-inline-end: 0px;
}
section img{
	background-color: #DEE2E6;
	position: static;
	margin:10px 753px;
}
h2{
	color: #6C757D;
	margin:5px 13px;	
}
a {
	text-decoration: none;
  }
p{
	padding: 10px;
}
p {
	padding: 0;	
}
main {
	max-width: 950px;
}
main img {
	float: right;	
	width: 150px;
	height: auto;
}
footer {
	margin-top: 15px;	
	border-top: 1px;
	text-align: center;	
}


