/* Link to colour site */

@font-face {
	font-family: "Bebas Neue";
	src: url("https://fonts.google.com/specimen/Bebas+Neue?query=Bebas+Neue") format("woff2");
}
  @font-face {
	font-family: "fira sans";
	src: url("https://fonts.google.com/specimen/Fira+Sans?query=fira+sans") format("woff2");
}
body {
	background-color: #f8f9fa;
	margin-block-start: 24px;
	margin-block-end: 2px;
}
header img {
	width: 200px;
	height: 120px;
	border:#6C757D solid 3px;
	padding: 2px;
	box-shadow: 0 0 10px #6C757D;
}
nav {
	background-color: #6C757D;
	padding: 10px;
	width: 910px;
	height: auto;
}
nav a {
	color: #DEE2E6;
	padding: 30px;
}
.hero img {
	  display: block;
	  width: 930px;
	  height: auto;
	  position: relative;
}
main {
	max-width: 950px;
}
h1 {
	color: #DEE2E6;
	position: absolute;
	display: block;
}
article {
	background-color: #DEE2E6;
	position: absolute;
	height: 90px;
	width: 950px;
}
article img {
	background-color: #DEE2E6;
	position: absolute;
	width: 160px;
	height: auto;
}
h2 {
	color: #6C757D;
}
a {
	text-decoration: none;
}
section p {
	padding: 10px;
}
section img {
	background-color: #DEE2E6;
	position: static;
	width: 210px;
	height: auto;
}
footer {
	border-top: 1px;
}
footer p {
	text-align: center;	
}
footer img {
	text-align: center;
	width: 30px;
	height: auto;
}
