.box {
	margin: 1rem;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 1rem;
	background-color: #ddd;
	color: #000;
}
nav {
	background-color: steelblue;
	padding: 10px;
}
nav a {
	color: white;
	padding: 20px;
}
h1{
	color: steelblue;
}
img{
	width: 150px;
	height:auto;
	border:steelblue solid 1px;
	padding: 2px;
	box-shadow: 0 0 30px gray;
}
p{
	padding: 10px;
}
p {
	padding: 0;	
}
main {
	max-width: 840px;
}
main img {
/*you most likely will have other declarations here*/
	float: right;	
	width: 150px;
	height: auto;
}
aside {
	position: absolute;
	width: 20rem;
	margin: 1rem;
	border: 1px; 
	padding: 1px;
	background-color: #eeeeee;
	color: #333333;
	text-align: center;
}
aside img {
	width: 250px;
	height: 120px;
}
aside h2 {
	position: relative;
	top: 50px;
	left: 110px;
}
footer {
	margin-top: 15px;	
	border-top: 1px;
	text-align: center;	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Class Selectors */
li {
	list-style-type: circle;
  }
  
  li li {
	list-style-type: square;
  }
  
